body {

	background: rgb(14, 15, 41);

}

.container {
	height: 458px;
	width: 360px;
	margin-top: 50%;
}

.img1 {
	display: none;
}

.flex-item {
	height: 458px;
	width: 360px;
}

.flex-item img {

	height: 200px;
	width: 180px;
}