body {
    background: #0a0229;
}

@media only screen and (min-width:360px) {
    .gift-image {
        height: 200px;
        width: 100%;
        margin: 39px auto;
    }

    .gift-image img {
        width: 100%;
    }

    .gift-text {
        margin: 9px 13px;
        border-radius: 12px;
        background: #6f71ff;
        text-align: center;
        line-height: 6vw;
        padding: 2vw;
        font-size: 5vw;
    }
}

@media only screen and (min-width:601px) {

    .gift-image {
        width: 529px;

    }
}