	body{

	background: pink;
	
}

.wishes img {
	 height: 297px;
  	 width: 516px;
  	 float: right;
	 margin-top: 62px;
	 margin-right: 38px;
 
}

.wishes #ria{
	
		float: right;
		margin: 252px -204px 20px 0;
		font-size: 41px;
		color: #c7197b;
}

.images .imag img{
	height: 231px;
width: 300px;
float: left;
margin-top: 438px;
margin-left: 42px;
padding-bottom: 20px
}

.wishes #wish{
	overflow: hidden;
	transition:2s;
	float: right;
margin-top: 359px;
margin-right: -516px;
font-size: 25px;
background: white;
height: 0px;
width: 442px;
text-align: center;
padding-left: 42px;
padding-right: 32px;
color: black;
}

.wishes:hover #wish {
	float: right;
margin-top: 359px;
margin-right: -516px;
font-size: 25px;
background: white;
height: 51px;
width: 442px;
padding-top: 10px;
text-align: center;
padding-left: 42px;
padding-right: 32px;
	color: black;
}

.images #gifts {
	transition: 1.3s;
		float: right;
margin-top: 79px;
font-size: 37px;
margin-right: 390px;
background: pink;
height: 73px;
padding-top: 64px;
padding-bottom: 93px;
width: 494px;
text-align: center;
padding-left: 76px;
padding-right: 47px;
color: #fff0;
}

.images:hover #gifts{
	color: black;
	float: right;
margin-top: 79px;
font-size: 37px;
margin-right: 390px;
background: white;
height: 73px;
padding-top: 64px;
padding-bottom: 93px;
width: 494px;
text-align: center;
padding-left: 76px;
padding-right: 47px;
	
	
}